# 1. Import pandas and load the `billboard_1978.csv` dataset into a DataFrame

As a reminder, `billboard_1978.csv` is in your `jtc_class_code/datasets` folder

In [1]:
import pandas as pd

In [2]:
billboard = pd.read_csv('../../datasets/billboard_1978.csv')

# 2. Print out the top 7 rows of the DataFrame

In [3]:
billboard.head(7)

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
0,1978,1,"""Shadow Dancing""",Andy Gibb,Pop,25,1,Min,102
1,1978,2,"""Night Fever""",Bee Gees,Pop,20,1,Min,110
2,1978,3,"""You Light Up My Life""",Debby Boone,Country,25,1,Maj,78
3,1978,4,"""Stayin' Alive""",Bee Gees,Pop,27,1,Min,103
4,1978,5,"""Kiss You All Over""",Exile,Country,23,1,Maj,104
5,1978,6,"""How Deep Is Your Love""",Bee Gees,Pop,33,1,Maj,105
6,1978,7,"""Baby Come Back""",Player,Pop,32,1,Maj,78

# 3. Use the pandas docs to figure out how to sort the DataFrame so the fastest songs (highest BPM values) are at the top. Also, sort the DataFrame 'in place' without having to assign to a variable

In [4]:
billboard.sort_values('BPM', ascending = False)

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
74,1978,75,"""Always and Forever""",Heatwave,R&B/Soul,20,18,Maj,156
98,1978,99,"""Hollywood Nights""",Bob Seger & The Silver Bullet Band,Rock,13,12,Maj,150
76,1978,77,"""Serpentine Fire""","Earth, Wind & Fire",R&B/Soul,18,13,Maj,140
93,1978,94,"""Turn to Stone""",Electric Light Orchestra,Rock,15,13,Maj,138
69,1978,70,"""What's Your Name""",Lynyrd Skynyrd,Rock,18,13,Maj,138
...,...,...,...,...,...,...,...,...,...
11,1978,12,"""I Go Crazy""",Paul Davis,Pop,40,7,Maj,70
80,1978,81,"""Bluer Than Blue""",Michael Johnson,Pop,16,12,Maj,66
97,1978,98,"""We're All Alone""",Rita Coolidge,Pop,20,7,Maj,66
33,1978,34,"""Last Dance""",Donna Summer,Pop,21,3,Maj,64
62,1978,63,"""You Needed Me""",Anne Murray,Country,26,1,Maj,64

In [5]:
billboard.sort_values('BPM')

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
33,1978,34,"""Last Dance""",Donna Summer,Pop,21,3,Maj,64
62,1978,63,"""You Needed Me""",Anne Murray,Country,26,1,Maj,64
97,1978,98,"""We're All Alone""",Rita Coolidge,Pop,20,7,Maj,66
80,1978,81,"""Bluer Than Blue""",Michael Johnson,Pop,16,12,Maj,66
52,1978,53,"""My Angel Baby""",Toby Beau,Pop,17,13,Maj,70
...,...,...,...,...,...,...,...,...,...
69,1978,70,"""What's Your Name""",Lynyrd Skynyrd,Rock,18,13,Maj,138
93,1978,94,"""Turn to Stone""",Electric Light Orchestra,Rock,15,13,Maj,138
76,1978,77,"""Serpentine Fire""","Earth, Wind & Fire",R&B/Soul,18,13,Maj,140
98,1978,99,"""Hollywood Nights""",Bob Seger & The Silver Bullet Band,Rock,13,12,Maj,150
74,1978,75,"""Always and Forever""",Heatwave,R&B/Soul,20,18,Maj,156

# 4. Use the pandas docs to find out how to remove the `Genre` and `Maj_Min` columns from the DataFrame (while keeping the rest)

Make sure you save the resulting DataFrame, either in place, or by assigning a new variable

Hint: one way to phrase this is 'dropping' columns

In [6]:
billboard.drop(columns=['Genre', 'Maj_Min'])

,Year,Hot_Singles_Rank,Title,Artist,Weeks_On_Chart,Peak_Chart_Position,BPM
0,1978,1,"""Shadow Dancing""",Andy Gibb,25,1,102
1,1978,2,"""Night Fever""",Bee Gees,20,1,110
2,1978,3,"""You Light Up My Life""",Debby Boone,25,1,78
3,1978,4,"""Stayin' Alive""",Bee Gees,27,1,103
4,1978,5,"""Kiss You All Over""",Exile,23,1,104
...,...,...,...,...,...,...,...
95,1978,96,"""Ebony Eyes""",Bob Welch,17,14,118
96,1978,97,"""The Name of the Game""",ABBA,16,12,76
97,1978,98,"""We're All Alone""",Rita Coolidge,20,7,66
98,1978,99,"""Hollywood Nights""",Bob Seger & The Silver Bullet Band,13,12,150
99,1978,100,"""Deacon Blues""",Steely Dan,16,19,114

In [8]:
billboard

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
0,1978,1,"""Shadow Dancing""",Andy Gibb,Pop,25,1,Min,102
1,1978,2,"""Night Fever""",Bee Gees,Pop,20,1,Min,110
2,1978,3,"""You Light Up My Life""",Debby Boone,Country,25,1,Maj,78
3,1978,4,"""Stayin' Alive""",Bee Gees,Pop,27,1,Min,103
4,1978,5,"""Kiss You All Over""",Exile,Country,23,1,Maj,104
...,...,...,...,...,...,...,...,...,...
95,1978,96,"""Ebony Eyes""",Bob Welch,Rock,17,14,Maj,118
96,1978,97,"""The Name of the Game""",ABBA,Pop,16,12,Maj,76
97,1978,98,"""We're All Alone""",Rita Coolidge,Pop,20,7,Maj,66
98,1978,99,"""Hollywood Nights""",Bob Seger & The Silver Bullet Band,Rock,13,12,Maj,150
99,1978,100,"""Deacon Blues""",Steely Dan,Rock,16,19,Maj,114

# 5. Using [this page from the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.lower.html) as a starting point, find a way to make song titles all lower case and song artists all caps.

Remember, each column in a DataFrame object is a data type called `Series` (or `pandas.Series`)

In [15]:
billboard['Title'] = billboard['Title'].str.lower()
billboard['Artist'] = billboard['Artist'].str.upper()
billboard

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
0,1978,1,"""shadow dancing""",ANDY GIBB,Pop,25,1,Min,102
1,1978,2,"""night fever""",BEE GEES,Pop,20,1,Min,110
2,1978,3,"""you light up my life""",DEBBY BOONE,Country,25,1,Maj,78
3,1978,4,"""stayin' alive""",BEE GEES,Pop,27,1,Min,103
4,1978,5,"""kiss you all over""",EXILE,Country,23,1,Maj,104
...,...,...,...,...,...,...,...,...,...
95,1978,96,"""ebony eyes""",BOB WELCH,Rock,17,14,Maj,118
96,1978,97,"""the name of the game""",ABBA,Pop,16,12,Maj,76
97,1978,98,"""we're all alone""",RITA COOLIDGE,Pop,20,7,Maj,66
98,1978,99,"""hollywood nights""",BOB SEGER & THE SILVER BULLET BAND,Rock,13,12,Maj,150
99,1978,100,"""deacon blues""",STEELY DAN,Rock,16,19,Maj,114

# 6. Using the Pandas docs, find a way to export your finished DataFrame to a new csv file called `billboard_1978_cleaned.csv`

#### Bonus: can you get this file to be output right back into the `jtc_class_code/datasets/` folder?

# 7. Wrap-up: comment your code (including pasting in any links to the docs where you found solutions) and push your .ipynb file to github

Congrats on finishing this challenge!